# Object files
*.o
*.ko
*.obj
*.elf
obj
# Precompiled Headers
*.gch
*.pch
dlls
# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)

*.so
*.so.*
*.dylib
assests
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
PlayerStats/bin/Release/HttpServer.dll
PlayerStats/bin/Release/Mono.Data.Sqlite.dll
PlayerStats/bin/Release/MySql.Data.dll
PlayerStats/bin/Release/MySql.Web.dll
PlayerStats/bin/Release/Newtonsoft.Json.dll
PlayerStats/bin/Release/TShockAPI.dll

PlayerStats/obj/Debug/PlayerStats.pdb
PlayerStats/obj/Debug/PlayerStats.pdb
